<html>
  <head>
    <title><%= @subject %></title>
    <style type="text/css">
      h3 {
        text-align: center;
      }

      .pre {
        white-space: pre;
        font-family: monospace;
        font-size: small;
      }

      .info {
        color: black;
      }

      .fatal {
        color: red;
      }

      .error {
        color: red;
      }

      .warn {
        color: blue;
      }

      .log {
        font-family: monospace;
        font-weight: bold;
        margin-bottom: 3px;
      }
    </style>
  </head>
  <body>
    <h3>
      <%= @title %>
    </h3>
    
    <h4>Overall Summary</h4>
    <p>
      <% @reports.each do |name, count| %>
        <strong class="<%= name %>"><%= name.to_s.titleize.pluralize %>: </strong><%= count %><br />
      <% end %>
    </p>

    <hr />

    <% @logs.each do |log| -%>
      <p class="log"><%= log.file_name %></p>

      <div class="pre">
        <% log.body.each do |line| -%>
          <span class="<%= stylize_output(line) %>"><%= line.chomp -%></span><br />
        <% end -%>
      </div>

      <hr />
    <% end -%>
  </body>
</html>